In [1]:
# Require setup
from rest_framework.response import Response
import pandas as pd
# from .config import movie_dict, similarity

movie_dict = pd.read_pickle('movie_dict.pkl')
similarity = pd.read_pickle('similarity.pkl')

movies = pd.DataFrame(movie_dict)

In [5]:
movies

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [12]:
movie = movies[movies['movie_id'] == 147767]
movie

      movie_id        title                                               tags
3528    147767  Khiladi 786  the 8th instal in the khiladi series. action c...

In [8]:
movie.iloc[0]

movie_id                                                19995
title                                                  Avatar
tags        in the 22nd century, a parapleg marin is dispa...
Name: 0, dtype: object

In [11]:
movies[movies['movie_id'] == 9367].index[0]

4804

In [2]:


def get_movie_by_id(movie_id):
    
    movie = movies[movies['movie_id'] == movie_id]
    if not movie.empty:
        return movie.iloc[0]
        # return type(movie.iloc[0]) # output pandas.core.series.Series
        
    return None

In [3]:
get_movie_by_id(679)

movie_id                                                  679
title                                                  Aliens
tags        when ripley' lifepod is found by a salvag crew...
Name: 2409, dtype: object

##### movies = new_df
##### movie = movies[movies['movie_id'] == movie_id]
* ###### The line movies['movie_id'] == movie_id creates a boolean mask that is True for rows where the movie_id column matches the input movie_id.
* ###### movies[movies['movie_id'] == movie_id] applies this mask to the DataFrame, resulting in a new DataFrame movie that contains only the rows where the movie_id matches the input movie_id.

#####    return movie.iloc[0]
* ###### movie.iloc[0] accesses the first row of the DataFrame movie using integer-location based indexing.
* ###### It returns this row, which contains the data of the first movie that matched the movie_id.
* ###### The output appears vertically because movie.iloc[0] returns a single row from the DataFrame as a pandas Series. In a Series, each element is displayed on a new line, showing the index (or column name) and the corresponding value. This is the default behavior of pandas when displaying a Series.